.trafficTop {
    width: 10px;
    height: 80px;
    margin-left: 70px;
    background-color: black;
    display: flex;
}


   .traffic-light {
    background-color: black;
    padding: 10px;
    display: inline-block;
    margin: auto;

}
.light {
    background-color: whitesmoke;
    width: 109px;
    height:100px;
    border-radius: 50%;
    padding: 4px;
    &.red {background-color: red;}
    &.yellow{background-color: yellow;}
    &.green{background-color: green;}
    &selected {box-shadow: rgb(252, 248, 199) 0px 0px 50px 20px;}
}

.glow {
    box-shadow: 0px 0px 9px 4px whitesmoke;
}



